In [1]:
import pandas as pd
import numpy as np
from pandas import *
from math import *

# Part 1: Read Raw data

In [2]:
df = pd.read_csv('data/all_stocks_5yr.csv')
df['date'] = pd.to_datetime(df['date'])
df.head()

        date   open   high    low  close    volume Name
0 2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1 2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2 2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3 2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4 2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [3]:
print(f'Dataframe shape: {df.shape}')

Dataframe shape: (619040, 7)

# Part 2: generate features from time series data <br>

#### Take AAL as an example

In [4]:
AAL = df[df.Name=="AAL"]
print(f'Dataframe shape: {AAL.shape}')
AAL.head(5)

Dataframe shape: (1259, 7)

        date   open   high    low  close    volume Name
0 2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1 2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2 2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3 2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4 2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

### 2.1 Generate monthly return/vol  features

In [5]:
AAL_month = AAL.groupby(list(map(lambda x:x.month,AAL.date))).nth(0).reset_index(drop=True) ### nth means get first row of the grouped data
AAL_month.head(5)

        date   open   high    low  close   volume Name
0 2014-01-02  25.07  25.82  25.06  25.36  8998943  AAL
1 2013-02-08  15.07  15.12  14.63  14.75  8407500  AAL
2 2013-03-01  13.37  13.95  13.32  13.61  7376800  AAL
3 2013-04-01  17.02  17.13  16.54  16.67  5222300  AAL
4 2013-05-01  16.91  17.17  16.60  16.60  4943600  AAL

In [6]:
### Generate monthly return
AAL_month['return'] = AAL_month.close.shift(1)/AAL_month.close - 1
AAL_month.head()

        date   open   high    low  close   volume Name    return
0 2014-01-02  25.07  25.82  25.06  25.36  8998943  AAL       NaN
1 2013-02-08  15.07  15.12  14.63  14.75  8407500  AAL  0.719322
2 2013-03-01  13.37  13.95  13.32  13.61  7376800  AAL  0.083762
3 2013-04-01  17.02  17.13  16.54  16.67  5222300  AAL -0.183563
4 2013-05-01  16.91  17.17  16.60  16.60  4943600  AAL  0.004217

In [7]:
AAL_month['vol_change'] = AAL_month.volume.shift(1)/AAL_month.volume - 1
AAL_month.head()

        date   open   high    low  close   volume Name    return  vol_change
0 2014-01-02  25.07  25.82  25.06  25.36  8998943  AAL       NaN         NaN
1 2013-02-08  15.07  15.12  14.63  14.75  8407500  AAL  0.719322    0.070347
2 2013-03-01  13.37  13.95  13.32  13.61  7376800  AAL  0.083762    0.139722
3 2013-04-01  17.02  17.13  16.54  16.67  5222300  AAL -0.183563    0.412558
4 2013-05-01  16.91  17.17  16.60  16.60  4943600  AAL  0.004217    0.056376

In [8]:
def generate_features(df):
    date_month = list(map(lambda x:x.month,df.date))
    df_monthly = df.groupby(date_month).nth(0).reset_index(drop=True)
    df_monthly['return'] = df_monthly.close.shift(1)/df_monthly.close - 1
    df_monthly['vol_change'] = df_monthly.volume.shift(1)/df_monthly.volume - 1
    return df_monthly[1:] ### [1:] means jump the first row

In [9]:
test_AAL = generate_features(AAL)
test_AAL.head()

        date   open   high    low  close   volume Name    return  vol_change
1 2013-02-08  15.07  15.12  14.63  14.75  8407500  AAL  0.719322    0.070347
2 2013-03-01  13.37  13.95  13.32  13.61  7376800  AAL  0.083762    0.139722
3 2013-04-01  17.02  17.13  16.54  16.67  5222300  AAL -0.183563    0.412558
4 2013-05-01  16.91  17.17  16.60  16.60  4943600  AAL  0.004217    0.056376
5 2013-06-03  17.54  17.90  17.40  17.73  5776800  AAL -0.063734   -0.144232

###  2.2 Generate technical analysis features 

- ROC : rate of change
- MOM : momentum
- MA : Moving Average
- MACD : moving average convergence/divergence

In [24]:
df = pd.read_csv('data/all_stocks_5yr.csv')
df['date'] = pd.to_datetime(df['date'])
df.head()

        date   open   high    low  close    volume Name
0 2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1 2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2 2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3 2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4 2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

#### 2.2.1 ROC:

In [11]:
n = 10

In [12]:
M = df['close'].diff(n - 1)
N = df['close'].shift(n - 1)
ROC = Series(M / N, name = 'ROC_' + str(n))
df.join(ROC).iloc[10:15]

         date   open   high    low  close   volume Name    ROC_10
10 2013-02-25  13.60  13.76  13.00  13.02  7186400  AAL -0.099585
11 2013-02-26  13.14  13.42  12.70  13.26  9419000  AAL -0.070778
12 2013-02-27  13.28  13.62  13.18  13.41  7390500  AAL -0.085266
13 2013-02-28  13.49  13.63  13.39  13.43  6143600  AAL -0.040029
14 2013-03-01  13.37  13.95  13.32  13.61  7376800  AAL -0.061379

#### 2.2.2 MOM: momentum

In [13]:
n = 3

In [14]:
M = Series(df['close'].diff(n), name = 'Momentum_' + str(n))
df.join(M).iloc[10:15]

         date   open   high    low  close   volume Name  Momentum_3
10 2013-02-25  13.60  13.76  13.00  13.02  7186400  AAL       -0.31
11 2013-02-26  13.14  13.42  12.70  13.26  9419000  AAL       -0.11
12 2013-02-27  13.28  13.62  13.18  13.41  7390500  AAL       -0.16
13 2013-02-28  13.49  13.63  13.39  13.43  6143600  AAL        0.41
14 2013-03-01  13.37  13.95  13.32  13.61  7376800  AAL        0.35

#### 2.2.3 Moving Average

In [15]:
n = 5

In [16]:
#Moving Average
MA = Series(df.close.rolling(n).mean(), name = 'MA_' + str(n))

#Exponential Moving Average
EMA = df['close'].ewm(span = n, min_periods = n - 1).mean()

#### 2.2.4 MACD

In [17]:
"""Param of MACD"""
n_fast = 12
n_slow = 26

In [45]:
EMAfast = pd.DataFrame(df['close']).ewm(span = n_fast, min_periods = n_fast - 1).mean()
EMAslow = pd.DataFrame(df['close']).ewm(span = n_slow, min_periods = n_slow - 1).mean()

MACD = EMAfast - EMAslow
MACD.columns = ['MACD_' + str(n_fast) + '_' + str(n_slow)]

In [46]:
MACDsign = MACD.ewm(span = 9, min_periods = 8).mean()
MACDsign.columns = ['MACDsign_' + str(n_fast) + '_' + str(n_slow)]

In [47]:
MACDdiff = pd.DataFrame(MACD.values.reshape(-1) - MACDsign.values.reshape(-1),index=MACDsign.index)
MACDdiff.columns = ['MACDdiff_' + str(n_fast) + '_' + str(n_slow)]

In [65]:
MACD.values.shape

(619040, 1)

# Part 3: Package

In [ ]:
def generate_monthly_features(self,df):
    df_featured = df.groupby(["Name"]).apply(self.helper_monthly_features)
    return df_featured

In [230]:
tmp = {"n_fast":12,"n_slow":26}

In [22]:
import datetime

In [23]:
datetime.date(month=2,year=2014,day=1)

datetime.date(2014, 2, 1)

In [32]:
date_month = list(map(lambda x:datetime.date(month=x.month,year=x.year,day=1),df.date))

df.groupby(date_month).nth(0)

In [105]:
class processor:
    def __init__(self,config=None,**kwargs):
        ### config is a dictionary contains all 
        self.config = config if config else {"MACD":{"n_fast":12,"n_slow":26},"ROC":[{"n":5}],"MOM":[{"n":3}],"MA":[{"n":5}],"EMA":[{"n":3}]}
        
    def process(self,df):
        for i in self.config:
            if i == "MACD":
                df = self.MACD(df,**self.config[i])
            if i == "ROC":
                for tmpConf in self.config[i]:
                    df = self.ROC(df,**tmpConf)
            if i == "MA":
                for tmpConf in self.config[i]:
                    df = self.MA(df,**tmpConf)
            if i == "EMA":
                for tmpConf in self.config[i]:
                    df = self.EMA(df,**tmpConf)
            if i == "MOM":
                for tmpConf in self.config[i]:
                    df = self.MOM(df,**tmpConf)

        return df

    def MACD(self,df, n_fast, n_slow,**kwargs):
        EMAfast = pd.DataFrame(df['close']).ewm(span = n_fast, min_periods = n_fast - 1).mean()
        EMAslow = pd.DataFrame(df['close']).ewm(span = n_slow, min_periods = n_slow - 1).mean()

        MACD = EMAfast - EMAslow
        MACD.columns = ['MACD_' + str(n_fast) + '_' + str(n_slow)]

        MACDsign = MACD.ewm(span = 9, min_periods = 8).mean()
        MACDsign.columns = ['MACDsign_' + str(n_fast) + '_' + str(n_slow)]

        MACDdiff = pd.DataFrame(MACD.values.reshape(-1) - MACDsign.values.reshape(-1),index=MACDsign.index)
        MACDdiff.columns = ['MACDdiff_' + str(n_fast) + '_' + str(n_slow)]
        
        df = df.join(MACD).join(MACDsign).join(MACDdiff)
        return df
    
    #Moving Average
    def MA(self,df, n):
        MA = Series(df.close.rolling(n).mean(), name = 'MA_' + str(n))
        df = df.join(MA)
        return df

    #Exponential Moving Average
    def EMA(self,df, n):
        EMA = pd.DataFrame(df['close'].ewm(span = n, min_periods = n - 1).mean())
        EMA.columns= ['EMA_' + str(n)]
        df = df.join(EMA)
        return df
    #Rate of Change
    def ROC(self,df, n,**kwargs):
        M = df['close'].diff(n - 1)
        N = df['close'].shift(n - 1)
        ROC = Series(M / N, name = 'ROC_' + str(n))
        df = df.join(ROC)
        return df
    
    #Momentum
    def MOM(self,df, n,**kwargs):
        M = Series(df['close'].diff(n), name = 'Momentum_' + str(n))
        df = df.join(M)
        return df

In [106]:
myProcessor = processor()

In [109]:
df_featured = df.groupby(df.Name).apply(lambda x:myProcessor.process(x)).reset_index(drop=True)

In [110]:
df_featured[df_featured.Name=='AAL']

,date,open,high,low,close,volume,Name,MACD_12_26,MACDsign_12_26,MACDdiff_12_26,ROC_5,Momentum_3,MA_5,EMA_3
0,2013-02-08,15.07,15.1200,14.6300,14.75,8407500,AAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-02-11,14.89,15.0100,14.2600,14.46,8882000,AAL,NaN,NaN,NaN,NaN,NaN,NaN,14.556667
2,2013-02-12,14.45,14.5100,14.1000,14.27,8126000,AAL,NaN,NaN,NaN,NaN,NaN,NaN,14.392857
3,2013-02-13,14.30,14.9400,14.2500,14.66,10259500,AAL,NaN,NaN,NaN,NaN,-0.09,NaN,14.535333
4,2013-02-14,14.94,14.9600,13.1600,13.99,31879900,AAL,NaN,NaN,NaN,-0.051525,-0.47,14.426,14.253871
5,2013-02-15,13.93,14.6100,13.9300,14.50,15628000,AAL,NaN,NaN,NaN,0.002766,0.23,14.376,14.378889
6,2013-02-19,14.33,14.5600,14.0800,14.26,11354400,AAL,NaN,NaN,NaN,-0.000701,-0.40,14.336,14.318976
7,2013-02-20,14.17,14.2600,13.1500,13.33,14725200,AAL,NaN,NaN,NaN,-0.090723,-0.66,14.148,13.822549
8,2013-02-21,13.62,13.9500,12.9000,13.37,11922100,AAL,NaN,NaN,NaN,-0.044317,-1.13,13.890,13.595832
9,2013-02-22,13.57,13.6000,13.2100,13.57,6071400,AAL,NaN,NaN,NaN,-0.064138,-0.69,13.806,13.582903
10,2013-02-25,13.60,13.7600,13.0000,13.02,7186400,AAL,NaN,NaN,NaN,-0.086957,-0.31,13.510,13.301314
11,2013-02-26,13.14,13.4200,12.7000,13.26,9419000,AAL,NaN,NaN,NaN,-0.005251,-0.11,13.310,13.280652
12,2013-02-27,13.28,13.6200,13.1800,13.41,7390500,AAL,NaN,NaN,NaN,0.002992,-0.16,13.326,13.345334
13,2013-02-28,13.49,13.6300,13.3900,13.43,6143600,AAL,NaN,NaN,NaN,-0.010317,0.41,13.338,13.387670
14,2013-03-01,13.37,13.9500,13.3200,13.61,7376800,AAL,NaN,NaN,NaN,0.045315,0.35,13.346,13.498838
15,2013-03-04,13.50,14.0700,13.4700,13.90,8174800,AAL,NaN,NaN,NaN,0.048265,0.49,13.522,13.699422
16,2013-03-05,14.01,14.0500,13.7100,14.05,7676100,AAL,NaN,NaN,NaN,0.047726,0.62,13.680,13.874712
17,2013-03-06,14.52,14.6800,14.2500,14.57,13243200,AAL,NaN,NaN,NaN,0.084885,0.96,13.912,14.222358
18,2013-03-07,14.70,14.9300,14.5000,14.82,9125300,AAL,NaN,NaN,NaN,0.088905,0.92,14.190,14.521179
19,2013-03-08,14.99,15.2000,14.8400,14.92,10593700,AAL,NaN,NaN,NaN,0.073381,0.87,14.452,14.720590
20,2013-03-11,14.85,15.1500,14.7100,15.13,6961800,AAL,NaN,NaN,NaN,0.076868,0.56,14.698,14.925295
21,2013-03-12,15.14,15.6000,14.9500,15.50,8999100,AAL,NaN,NaN,NaN,0.063830,0.68,14.988,15.212648
22,2013-03-13,15.54,16.2000,15.4800,15.91,11380000,AAL,NaN,NaN,NaN,0.073549,0.99,15.256,15.561324
23,2013-03-14,15.98,16.3600,15.9300,16.25,8383300,AAL,NaN,NaN,NaN,0.089142,1.12,15.542,15.905662
24,2013-03-15,16.45,16.5400,15.8800,15.98,17667700,AAL,0.426355,NaN,NaN,0.056180,0.48,15.754,15.942831
25,2013-03-18,15.80,16.3300,15.7100,16.29,6514100,AAL,0.472182,NaN,NaN,0.050968,0.38,15.986,16.116415
26,2013-03-19,16.48,16.8500,16.4100,16.78,11805300,AAL,0.537103,NaN,NaN,0.054683,0.53,16.242,16.448208
27,2013-03-20,17.13,17.3300,16.8700,17.23,10819800,AAL,0.613640,NaN,NaN,0.060308,1.25,16.506,16.839104
28,2013-03-21,17.21,17.4300,16.8700,17.00,10740800,AAL,0.649641,NaN,NaN,0.063830,0.71,16.656,16.919552
29,2013-03-22,17.10,17.2900,16.7700,16.86,8545200,AAL,0.660038,NaN,NaN,0.034991,0.08,16.832,16.889776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,2017-12-26,52.35,53.2150,52.3300,52.85,2774316,AAL,1.016064,0.806749,0.209315,0.027411,0.93,52.318,52.620208
1230,2017-12-27,52.80,52.8800,52.0600,52.40,2831434,AAL,1.009653,0.847330,0.162323,0.009245,-0.39,52.510,52.510104
1231,2017-12-28,52.45,52.6300,52.2200,52.46,1845331,AAL,0.997909,0.877446,0.120464,-0.006251,-0.13,52.618,52.485052
1232,2017-12-29,52.42,52.8200,52.0100,52.03,2697096,AAL,0.943035,0.890564,0.052471,-0.010648,-0.82,52.466,52.257526
1233,2018-01-02,52.33,53.1000,51.9000,52.99,4084712,AAL,0.965876,0.905626,0.060250,0.002649,0.59,52.546,52.623763
1234,2018-01-03,52.86,52.8600,52.0550,52.34,5074850,AAL,0.920913,0.908683,0.012229,-0.001145,-0.12,52.444,52.481882
1235,2018-01-04,52.48,54.4000,52.2650,52.67,3557059,AAL,0.901515,0.907250,-0.005735,0.004003,0.64,52.498,52.575941
1236,2018-01-05,52.78,52.8388,52.4300,52.65,2967756,AAL,0.874449,0.900690,-0.026241,0.011916,-0.34,52.536,52.612970
1237,2018-01-08,52.60,52.6400,51.9300,52.13,3515785,AAL,0.801796,0.880911,-0.079115,-0.016229,-0.21,52.556,52.371485
1238,2018-01-09,52.97,53.3700,52.0050,52.08,3426021,AAL,0.731748,0.851078,-0.119330,-0.004968,-0.59,52.374,52.225743
1239,2018-01-10,53.23,54.0200,52.8800,53.78,7655771,AAL,0.804141,0.841691,-0.037550,0.021075,1.13,52.662,53.002871
1240,2018-01-11,54.49,57.0000,54.1800,56.42,11339858,AAL,1.062294,0.885811,0.176482,0.071605,4.29,53.412,54.711436
1241,2018-01-12,56.56,58.7300,56.5600,58.47,7505761,AAL,1.415977,0.991844,0.424132,0.121619,6.39,54.576,56.590718
1242,2018-01-16,58.79,59.0800,57.5300,57.98,5283872,AAL,1.637854,1.121046,0.516808,0.113287,4.20,55.746,57.285359
1243,2018-01-17,58.31,58.5800,57.8000,58.16,3148934,AAL,1.807383,1.258314,0.549070,0.081443,1.74,56.962,57.722679
1244,2018-01-18,58.00,58.7100,57.5600,58.34,3969309,AAL,1.933968,1.393444,0.540523,0.034030,-0.13,57.874,58.031340
1245,2018-01-19,58.59,58.5900,57.7600,58.06,3151201,AAL,1.988768,1.512509,0.476258,-0.007012,0.08,58.202,58.045670
1246,2018-01-22,57.99,58.3400,57.5305,58.10,3553916,AAL,2.012229,1.612453,0.399776,0.002070,-0.06,58.128,58.072835
1247,2018-01-23,57.74,58.4600,57.4000,58.29,3336991,AAL,2.022836,1.694530,0.328306,0.002235,-0.05,58.190,58.181417
1248,2018-01-24,54.35,55.4600,53.4500,54.79,16348479,AAL,1.728891,1.701402,0.027489,-0.060850,-3.27,57.516,56.485709
1249,2018-01-25,54.00,54.5500,52.2100,53.05,10223096,AAL,1.340087,1.629139,-0.289052,-0.086290,-5.05,56.458,54.767854
1250,2018-01-26,53.65,53.9000,52.3400,53.07,7066094,AAL,1.021792,1.507669,-0.485878,-0.086575,-5.22,55.460,53.918927
1251,2018-01-29,52.79,53.1600,52.5850,52.68,5953675,AAL,0.729660,1.352068,-0.622407,-0.096243,-2.11,54.376,53.299464
1252,2018-01-30,52.45,53.0500,52.3600,52.59,4741808,AAL,0.485287,1.178712,-0.693424,-0.040153,-0.46,53.236,52.944732
1253,2018-01-31,53.08,54.7100,53.0000,54.32,5962937,AAL,0.426302,1.028230,-0.601927,0.023940,1.25,53.142,53.632366
1254,2018-02-01,54.00,54.6400,53.5900,53.88,3623078,AAL,0.340131,0.890610,-0.550479,0.015263,1.20,53.308,53.756183
1255,2018-02-02,53.49,53.9900,52.0300,52.10,5109361,AAL,0.126748,0.737838,-0.611090,-0.011010,-0.49,53.114,52.928091
1256,2018-02-05,51.99,52.3900,49.7500,49.76,6878284,AAL,-0.228544,0.544561,-0.773105,-0.053813,-4.56,52.530,51.344046
1257,2018-02-06,49.32,51.5000,48.7900,51.18,6782480,AAL,-0.391026,0.357444,-0.748470,-0.057806,-2.70,52.248,51.262023
1258,2018-02-07,50.91,51.9800,50.8900,51.40,4845831,AAL,-0.496320,0.186691,-0.683011,-0.046028,-0.70,51.664,51.331011

In [111]:
df_featured.to_csv("data/df_featured.csv",index=False)